.text_heigth {
    height: 1.25em;
}

#dont-click-button:hover {
  background-color: pink;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Upload";
    color: #ffffff;
    background-color: var(--secondary);
    border-color: var(--secondary);
    }

.custom-file-label{
  border-color: var(--secondary);
  color: var(--secondary);
}

.copy-button{
    margin-top: 0.75em;
    width: 100%;
    font-weight:600;
}

.full-width{
  width:100%;
  border-color:white;
}

.popover-body {
    background-color: var(--secondary);
    color: white;
    font-weight: 600;
}

.checkbox-container{
    margin-left: -36px;
}
