<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body class="container p-3 my-3 border">
        <h1>Knooppunten</h1>
        <h2>Handleiding</h2>
        <p>Met deze website kan u een route van fietsknooppunten maken en de bijbehorende navigatie laten doen door <a href="https://www.google.com/maps/" target="_blank">Google Maps</a>, zodat je snel én makkelijk een rondje kan gaan fietsen!</p>
        <div class="row">
            <div class="col-md-4">
                <h3>Stap 1: Maak een route</h3>
                <p>Ga naar <a href="https://www.visitlimburg.be/nl/fietsrouteplanner" target="_blank">de fietsrouteplanner</a> en maak een route. U kan instructies op de website vinden en eens rondkijken naar de interessante routes die <a href="https://www.visitlimburg.be/nl/zoek-fietsroutes" target="_blank">visitlimburg.be</a> nog te bieden heeft.</p>
                <p>U kan een route maken door eerst een startknooppunt te selecteren en vervolgens een eindknooppunt. U kan de route nadien nog wijzigen door wat met de knoppen te spelen totdat deze u bevalt.</p>
                <p>Wanneer u tevreden bent downloadt u de route als .gpx bestand, door op de download knop <img src="{{ url_for('static', filename='images/download_gpx_knop.PNG') }}" class="text_heigth" alt="(Download GPX-bestand)"> te drukken. Sla dit bestand tijdelijk op op uw computer of smartphone.</p>
            </div>
            <div class="col-md-5">
                <h3>Stap 2: Verwerk het .gpx bestand</h3>
                <p>Klik op de knop 'Upload' hieronder, selecteer uw net gedownloadde .gpx bestand en klik dan op de 'Bevestig' knop.</p>
                {% block file_error %}
                {% endblock %}
                <p class="text-info">Selecteer een .gpx bestand</p>
                <form method="post" action="/knooppunten" enctype="multipart/form-data">
                    <div class="custom-file mb-3">
                        <input type="file" name="input_file" accept=".gpx" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Geen bestand gekozen...</label>
                    </div>
                    <p><input type="submit" value="Bevestig" class="btn btn-secondary"/></p>
                </form>
                {% block uploaded_file %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                <h3>Stap 3: Vertrekken</h3>
                <p>U kan op de knoppen 'Route' en 'Omgekeerde route' klikken om uw route te bekijken. U kan ook de routes naar uw klembord kopiëren d.m.v. de 'Kopieer' knop. Als u de google maps links op uw telefoon wil gebruiken dient u de gekopieerde tekst naar uw telefoon te sturen. Dit kan bijvoorbeeld via Messenger, of als uw android telefoon en uw google accounts verbonden zijn, verschijnt er op google maps een handige knop 'Route verzenden naar je telefoon'. Veel plezier met de trip!</p>
                <button id="dont-click-button" onclick="dontClickFunction()">Hier niet klikken!</button>
            </div>
        </div>
        <footer>
            <p>&copy; Sander Vanderlinden</p>
            <span>
                <a href="https://www.linkedin.com/in/sander-vanderlinden">
                    <img src="{{ url_for('static', filename='images/linkedin-icon.svg') }}"
                        alt="LinkedIn icon"
                        height="32px"
                    >
                    LinkedIn
                </a>
            </span>
            <span>
                <a href="https://github.com/SanderVanderlinden">
                    <img src="{{ url_for('static', filename='images/GitHub-Mark-32px.png') }}"
                        alt="GitHub Mark"
                        height="32px"
                    >
                    GitHub
                </a>
            </span>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block scripts %}{% endblock %}
    </body>
</html>