<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{{ url_for('static', filename='js/copy_to_clipboard.js') }}"></script>
</html>