{% extends "base.html" %}

{% block title %}Knooppunten{% endblock %}

{% block content %}
    <p>Selecteer een .gpx bestand</p>
    <form method="post" action="/knooppunten" enctype="multipart/form-data">
        <p><input type="file" name="input_file" accept=".gpx"/></p>
        <p><input type="submit" value="Bevestig" /></p>
        <ul>
            <li><a href="{{link_van_naar}}" target="_blank">Route</a></li>
            <li><a href="{{link_naar_van}}" target="_blank">Omgekeerde route</a></li>
        </ul>

        <textarea rows="10" cols="100" id="copy-to-clipboard" readonly>Route:&#13;&#10;{{link_van_naar}}&#13;&#10;&#13;&#10;Omgekeerde route:&#13;&#10;{{link_naar_van}}</textarea>

        <div class="tooltip">
            <div onclick="myCopyFunction()">
                <span class="tooltiptext" id="myTooltip">Kopieer deze tekst naar het klembord</span>
                Kopieer
            </div>
        </div>
    </form>
{% endblock %}